<div class="container-knowledge">
    <div class="container-know">
        <h2>Knowledge:</h2>
        <ul>
            <li *ngFor="let kn of knowledge">{{kn}}</li>
        </ul>
    </div>
    <div class="container-know">
        <h2>Education:</h2>
        <ul>
            <li *ngFor="let ed of education">{{ed}}</li>
        </ul>
    </div>
    <div class="container-know">
        <h2>Science work:</h2>
        <p>Scientific article on the topic: Intelligence Analysis Method of Automation Control System Archive Database for controlling Hot Blast Stove Block</p>
    </div>
</div>